In [1]:
import pandas as pd

In [2]:
training = pd.read_csv('data1.csv', header=[0], index_col=[0])

time_col = training['time'].astype(str).str[:2].astype(int)
time_col

0        8
1        8
2        8
3        8
4        8
        ..
2395    17
2396    17
2397    17
2398    17
2399    18
Name: time, Length: 2400, dtype: int64

In [3]:
people_labels = ['r' + str(x) for x in range(1, 35)] + ['c1', 'c2']
people_col = training[people_labels].sum(axis=1)
people_col.name = 'people'
people_col

0       1
1       1
2       2
3       4
4       3
       ..
2395    0
2396    0
2397    0
2398    0
2399    0
Name: people, Length: 2400, dtype: int64

In [4]:
time_col = training['time'].astype(str).str[:2].astype(int)

people_labels = ['r' + str(x) for x in range(1, 35)] + ['c1', 'c2']
people_col = training[people_labels].sum(axis=1)
people_col.name = 'people'

threshold = pd.concat([time_col, people_col], axis=1)
threshold.groupby('time').mean()

         people
time
8     30.225941
9     39.783333
10    40.337500
11    40.091667
12    40.391667
13    40.195833
14    38.791667
15    40.083333
16    40.987500
17    24.383333
18     0.000000

In [5]:
training = pd.read_csv('data1.csv', header=[0], index_col=[0])

time_col = training['time']

people_labels = ['r' + str(x) for x in range(1, 35)] + ['c1', 'c2']
people_col = training[people_labels].sum(axis=1)
people_col = (people_col - people_col.min()) / (people_col.max() - people_col.min())
people_col.name = 'people'

threshold = pd.concat([time_col, people_col], axis=1)
threshold.set_index('time', inplace=True)
threshold

            people
time
08:00:15  0.024390
08:00:30  0.024390
08:00:45  0.048780
08:01:00  0.097561
08:01:15  0.073171
...            ...
17:59:00  0.000000
17:59:15  0.000000
17:59:30  0.000000
17:59:45  0.000000
18:00:00  0.000000

[2400 rows x 1 columns]

In [46]:
training = pd.read_csv('data2.csv', header=[0], index_col=[0])

time_col = training['time']

people_labels = ['r' + str(x) for x in range(1, 35)] + ['c1', 'c2']
people_col = training[people_labels].sum(axis=1)
people_col = (people_col - people_col.min()) / (people_col.max() - people_col.min())
people_col.name = 'people'

threshold = pd.concat([time_col, people_col], axis=1)
threshold.set_index('time', inplace=True)
threshold

            people
time
08:00:15  0.000000
08:00:30  1.000000
08:00:45  1.000000
08:01:00  1.000000
08:01:15  1.000000
...            ...
17:59:00  0.380952
17:59:15  0.380952
17:59:30  0.380952
17:59:45  0.380952
18:00:00  0.380952

[2400 rows x 1 columns]